* {
	font-family: 'Lato', Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
html {
	height: 100%;
}

.container {
	padding: 0 10%;
}

.container p {
	text-align: center;
	margin: 2.5em 0;
}

header {
	border-bottom: 1px solid #b7b7b7;
}

.logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	text-indent: -9999px;
	width: 100%;
	height: 100px;
	margin: 1em auto;
}

.links {
	display: inline-block;
	list-style: none;
	width: 100%;
	text-align: center;
	margin-bottom: 5em;
}

.links li {
	margin-left: 1%;
	display: inline-block;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24%;
	height: 100%;
	position: relative;
}

.links li:first-child {
	margin-left: 0;
}


.links li:hover {
	background-color: #F89948;
}

.links a{
	display: inline-block;
	padding: 5em 0;
	width: 100%;
	text-decoration: none;
}

.links span {
	position: absolute;
	font-size: 1em;
	color: #000;
	text-transform: uppercase;
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
}

.download {
	background-image: url('../images/download.svg');
}

.code{
	background-image: url('../images/github.svg');
}

.demo{
	background-image: url('../images/gamepad.svg');
}

.question{
	background-image: url('../images/question.svg');
}

.screenshot {
	text-align: center;
	max-height: 90vh;
	position: relative;
}

.screenshot img {
	max-width: 100%;
	max-height: 100%;
}

.screenshot figcaption {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	box-shadow: inset 0 0 0 300px rgba(0, 0, 0, .1);
	background-image: url('../images/new-screenshot-blur.png');
	background-size: contain;
	transition: background .1s, box-shadow .2s;

	color: white;
}

.screenshot:hover figcaption,
.screenshot:active figcaption {
	box-shadow: inset 0 0 0 300px rgba(0, 0, 0, 0),
							inset 0 0 50px 5px rgba(0, 0, 0, .2);
	background-image: none;
}

.screenshot figcaption :first-child {
	position: absolute;
	top: 50%;
	left: 50%;

	white-space: nowrap;
	word-spacing: .2em;
	font-size: 5.5vw;
	font-weight: 300;
	text-transform: uppercase;
	padding: .5em 1em;

	background-color: rgba(0, 0, 0, .5);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	     transform: translate(-50%, -50%);
	transition: opacity .5s, -webkit-transform .5s;
}

.screenshot:hover figcaption :first-child,
.screenshot:active figcaption :first-child {
	opacity: 0;
	-webkit-transform: translate(-50%, -50%) scale(1.05, 1.05);
	-mox-transform: translate(-50%, -50%) scale(1.05, 1.05);
			 transform: translate(-50%, -50%) scale(1.05, 1.05);
}

footer {
	background-color: #EBEBEB;
	height: 15em;
	position: relative;
	text-align: center;
}

.apoio {
	list-style: none;
	display: inline-block;
	top: 50%;
	left: 50%;
	letter-spacing: 2em;
}

.apoio li {
	display: inline-block;
	text-align: center;
	margin-bottom: 1em;
}

.apoio a {
	display: inline-block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

footer p {
	margin: 0;
	padding-top: 2.50em;
	font-size: 1.2em;
	color: #3B3B3B;
}

.caelum a{
	background-image: url('../images/caelum.png');
	width: 199px;
	height: 62px;
}

.vraptor a{
	background-image: url('../images/vraptor.png');
	width: 199px;
	height: 57px;
}

figcaption {
	position: absolute;
}

@media (max-width: 900px) {
	.links a {
		padding: 4em 0;
	}

	.links span {
		bottom: -5.5em;
	}
}

@media (max-width: 700px) {
	.logo {
		 height: 70px;
	}

	.links a {
		padding: 3em 0;
	}

	.links span {
		font-size: .8em;
	}

}

@media (max-width: 500px) {
	.logo {
		 height: 50px;
	}

	.links a {
		padding: 2em 0;
	}

	.links span {
		font-size: .7em;
		bottom: -4.5em
	}

	.links li {
		background-size: 25%;
	}

	.caelum a {
		width: 160px;
		height: 50px;
	}

	.vraptor a {
		width: 160px;
		height: 46px;
	}
}
