* {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
html {
	height: 100%;
}

.container {
	padding: 0 10%;
}

.container p {
	text-align: center;
	margin: 2.5em 0;
}

header {
	border-bottom: 1px solid #b7b7b7;
}

.logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	text-indent: -9999px;
	width: 100%;
	height: 100px;
	margin: 1em auto;
}

.links {
	display: inline-block;
	list-style: none;
	width: 100%;
	text-align: center;
}

.links li {
	margin-left: 1%;
	display: inline-block;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24%;
	height: 100%;
}

.links li:first-child {
	margin-left: 0;
}


.links li:hover {
	background-color: #F89948;
}

.links a{
	text-indent: -9999px;
	display: inline-block;
	padding: 5em 0; 
	width: 100%;
}

.download {
	background-image: url('../images/download.svg');
}

.code{
	background-image: url('../images/github.svg');
} 

.demo{
	background-image: url('../images/gamepad.svg');
}

.question{
	background-image: url('../images/question.svg');
}

.screenshot {
	width: 100%;
	margin: 4em 0;
}

footer {
	background-color: #EBEBEB;
	height: 15em;
	position: relative;
}

.apoio {
	list-style: none;
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-60%, -50%);
}

.apoio li {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.apoio a {
	display: inline-block;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.caelum a{
	background-image: url('../images/caelum.png');
	width: 199px;
	height: 62px;	
}

.vraptor a{
	background-image: url('../images/vraptor.png');
	width: 199px;
	height: 57px;
}

@media (max-width: 900px) {
	.links a {
		padding: 4em 0;
	}
}

@media (max-width: 700px) {
	.logo {
		 height: 70px;
	}

	.links a {
		padding: 3em 0;
	}

}

@media (max-width: 500px) {
	.logo {
		 height: 50px;
	}

	.links a {
		padding: 2em 0;
	}

	.links li {
		background-size: 25%;
	}

	.apoio li {
		width: 100%;
		padding: 1em;
	}

	.caelum a {
		width: 160px;
		height: 50px;
	}

	.vraptor a {
		width: 160px;
		height: 46px;
	}
}

