* {
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0
}
html {
	height: 100%;
}

.container {
	padding: 0 10%;
}

.container p {
	text-align: center;
	margin: 2.5em 0;
}

header {
	border-bottom: 1px solid #b7b7b7;
}

.logo {
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	text-indent: -9999px;
	width: 27%;
	height: 85px;
	margin: 1em auto;
}

.links {
	display: inline-block;
	list-style: none;
	width: 100%;
	text-align: center;
}

.links li {
	margin-left: 1%;
	display: inline-block;
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: center center;
	width: 24%;
}

.links li:first-child {
	margin-left: 0;
}


.links li:hover {
	background-color: #F89948;
}

.links a{
	text-indent: -9999px;
	display: inline-block;
	padding: 5em; 
	width: 100%;
}

.download {
	background-image: url('../images/download.svg');
}

.code{
	background-image: url('../images/github.svg');
} 

.demo{
	background-image: url('../images/gamepad.svg');
}

.question{
	background-image: url('../images/question.svg');
}

.screenshot {
	width: 100%;
	margin: 4em 0;
}

footer {
	background-color: #b7b7b7;
	width: 100%;
	height: 10em;
}

.apoio {
	list-style: none;
	display: -webkit-flex;
	display: flex;
}

.apoio li {
	display: inline-block;
	margin: 0 2em;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-flex: 1;
	flex:1;
}

.caelum {
	background-image: url('../images/caelum.png');
	width: 120px;
	height: 40px;	
}

.vraptor {
	background-image: url('../images/vraptor.png');
	width: 120px;
	height: 40px;
}

@media (max-width: 900px) {
	.links li {
		height: 150px;
	}
}

@media (max-width: 700px) {
	.logo {
		height: 43px;
	}

	.links li {
		height: 100px;
	}
}
