.DS_Store
classes
classes-test
lib
src/main/webapp/WEB-INF/test-classes
target
bin/
ivy/
lib/test
lib/jetty
relatorios-de-teste/
jetty/*/*
*.log
PagPag.pem
*.pem
.classpath
.project
.settings
.idea/
*.iws
*.ipr
*.ids
*.iml
*.swp
vraptor-console.sh
.vraptor-console/
logs/
target90*
versions.txt
/target
jsp-compilation
tmp/
node_modules/
target-grunt/
.tmp/
.mamute-build/
src/main/webapp/css/**/*
src/main/webapp/js/**/*
src/main/webapp/imgs/**/*
src/main/webapp/font/**/*
src/main/webapp/assets/generated-css/**/*
src/main/webapp/assets/imgs
src/main/webapp/WEB-INF/jsp/theme/custom/**/*
src/main/resources/production.properties
src/main/resources/production/
