.DS_Store
classes
classes-test
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/test-classes
target
bin/
ivy/
lib/test
lib/jetty
relatorios-de-teste/
jetty/*/*
*.log
PagPag.pem
*.pem
.classpath
.project
.settings
*.swp
vraptor-console.sh
vraptor-console/
