language: java
before_install:
  sudo pip install codecov
after_success:
    codecov
before_script:
  - jdk_switcher use oraclejdk8
  - mysql -e 'create database mamute_test;'
install: ""
notifications:
    email:
        recipients:
            - chico.sokol@gmail.com
            - artur.adam@caelum.com.br
            - felipe.gtorres@gmail.com
            - leonardo.wolter@caelum.com.br
            - fernanda.bernardo@caelum.com.br
            - paulo.alves@caelum.com.br
            - felipeweb.programador@gmail.com
        on_success: change
        on_failure: always
