<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="main" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-20c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="errorFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/errors.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-20c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="tagsFile" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/tags.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-20c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="stats" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/uristats.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-20c{1}] %m%n"/>
        </layout>
    </appender>
    
    <appender name="email" class="org.apache.log4j.FileAppender">
        <param name="File" value="logs/emails.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p [%-20c{1}] %m%n"/>
        </layout>
    </appender>

    <category name="br.com.caelum.vraptor">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>

    <category name="br.com.caelum.vraptor.test">
        <priority value="DEBUG"/>
        <appender-ref ref="main"/>
    </category>

    <category name="org.eclipse">
        <priority value="INFO"/>
        <appender-ref ref="tagsFile"/>
    </category>

    <category name="org.eclipse">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>

    <category name="org.jboss.logging">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>

    <category name="org.quartz">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>

    <category name="br.com.caelum.vraptor.errormail">
        <priority value="ERROR"/>
        <appender-ref ref="errorFile"/>
    </category>

    <category name="org.mamute">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>
    
    <category name="br.com.caelum.vraptor.simplemail.aws">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>

    <category name="org.hibernate">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    <category name="com.asual.lesscss">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>

    <category name="org.fusesource">
        <priority value="ERROR"/>
        <appender-ref ref="main"/>
    </category>

    <category name="br.com.caelum.restfulie">
        <priority value="DEBUG"/>
        <appender-ref ref="main"/>
    </category>
    <category name="br.com.caelum.vraptor.dash.uristats">
        <priority value="DEBUG"/>
        <appender-ref ref="stats"/>
    </category>
    <category name="net.sf.ehcache">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>
    <category name="org.apache">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>
    <category name="org.springframework">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    <category name="com.amazonaws">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    <category name="httpclient.wire">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    <category name="freemarker">
        <priority value="WARN"/>
        <appender-ref ref="main"/>
    </category>
    <category name="org.jboss.weld">
        <priority value="INFO"/>
        <appender-ref ref="main"/>
    </category>
	<category name="org.apache.solr">
		<priority value="WARN"/>
		<appender-ref ref="main"/>
	</category>
	<category name="com.mchange.v2">
		<priority value="INFO"/>
		<appender-ref ref="main"/>	
	</category>
</log4j:configuration>