.ad {
  margin: .5em auto;
}
.big-ads {
  width: 730px;
  height: 92px;
  border: 1px solid #ccc;
}
@media only screen and (max-width: 1160px) {
  .big-ads {
    display: none;
  }
}
@media only screen and (max-width: 840px) {
  .big-ads {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .big-ads {
    display: none;
  }
}
.medium-ads {
  width: 300px;
  height: 250px;
}
@media only screen and (max-width: 1330px) {
  .medium-ads {
    display: none;
  }
}
