.second-header {
  background-color: #6a6c6a;
  padding: .3em .15em;
  line-height: 31px;
  color: #FFF;
}
.second-header a {
  color: #FFF;
}
.user-area {
  overflow: hidden;
  width: 100%;
}
.user-area .nav {
  width: 75%;
  float: left;
}
@media only screen and (max-width: 700px) {
  .user-area .nav {
    width: 100%;
  }
}
.user-area .nav-item a {
  font-size: 1.1em;
}
@media only screen and (max-width: 800px) {
  .user-area .nav-item a {
    font-size: 1.3em;
  }
}
.search-form {
  width: 25%;
  margin-top: .3%;
  float: right;
  line-height: 31px;
}
@media only screen and (max-width: 700px) {
  .search-form {
    display: none;
  }
}
.search-form input {
  float: left;
  margin: 0;
}
.search-form .text-input {
  border: none;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 100%;
  background-color: #fff;
  height: 22px;
}
.search-form input[type="submit"] {
  display: none;
  width: 15%;
}
.search-dropdown {
  display: none;
}
@media only screen and (max-width: 700px) {
  .search-dropdown {
    display: block;
  }
}
.menu-user-image {
  vertical-align: middle;
  width: 25px;
}
