.main-tags {
	padding: 0 0 0 0em;
	font-size: 0.9em;
	
	li {
		display: inline-block;
	}
	
	.tag-brutal {
		margin-top: .3em;
	}
}

.main-tags-header {
	background: #ccc;

	@media only screen and (max-width: 370px) {
		display: none;	
	}
}

.main-tags-current {
	background-color: #bcbcbc;	
}

.main-tags-sprite {
	@media only screen and (max-width: 840px) {
		padding-left: .7em;
	}
	
	&:before {
		content: "";
		background-image: url('../imgs/sprite-tag.png');
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: middle;
		width: 37px;
		height: 40px;
	}
}

.main-tags-text {
	color: #383938;
	font-size: 1.2em;
	padding-right: .6em;
	padding-left: .6em;
	display: block;
	line-height: 40px;
	
	&:hover {
		background-color: #adadad;
	}

	@media only screen and (min-width: 1360px) {
		padding-right: .7em;
		padding-left: .7em;
	}

	@media only screen and (max-width: 1310px) {
		padding-right: .5em;
		padding-left: .5em;
	}
}

.main-tags-java:before {
	background-position: -48px -7px;
}

.main-tags-android:before {
	background-position: -281px -7px;
}

.main-tags-c:before {
	background-position: -561px -7px;
}

.main-tags-net:before {
	background-position: -323px -7px;
}

.main-tags-javascript:before {
	background-position: -408px -7px;
}

.main-tags-php:before {
	background-position: -140px -7px;
}

.main-tags-jquery:before {
	background-position: -463px -7px;
}

.main-tags-html:before {
	background-position: -235px -7px;
}

.main-tags-sql:before {
	background-position: -509px -7px;
}

.sprite {
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999999em;
}