* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,a {
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
	font-size: 13px;
}

body {
	color: #999;
}

a {
	text-decoration: none;
	color: rgb(0, 119, 204);
}

.sprite{
	display:block;
	background-image: url('/images/sprites.png');
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999999em;
}

.logo{
	overflow: hidden;
	float: left;
}

.small-logo{
	margin-top:5px;
}

.small-logo a{
	background-position: -55px -66px;
	width: 120px;
	height: 18px;
}

.big-logo a{
	background-position: 0px 0px;
	width: 250px;
	height: 61px;
}

.logo a{
	display: block;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	overflow: hidden;
}

.title {
	color: #000;
}

.title,.title a {
	font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
	font-weight: bold;
	line-height: 2em;
}

.subheader {
	border-bottom: 1px solid #cccccc;
	margin-bottom: 15px;
}

.subheader * {
	display: inline;
}

.subheader-menu * {
	line-height: 34px;
}

.subheader-menu a {
	color: #999;
	float: right;
}

.page-title,.page-title a {
	font-size: 1.4em;
}

.section-title,.section-title a{
	font-size: 1.2em;
}

.question-title, .question-title a {
	font-size: 1.65em;
}

.item-title,.item-title a {
	font-size: 1.15em;
	margin-bottom: 5px;
}

.hidden,.hint {
	display: none;
}

.form-hints{
	width: 35%;
	margin-top: 32px;
	float: left;
}

.hint {
	background-color: #FEFAE2;
	border: 1px solid #F3EED5;
	padding: .3em;
	width:95%;
	float: right;
}

.post-container .hint {
	margin-top: 0px;
}

.suggestion-accepted {
	color: #FF0000;
}

.active {
	display: block;
}

/*Markdown*/
pre {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	margin-bottom: 10px;
	background-color: #eeeeee;
	overflow: auto;
	width: auto;
	width: 650px!ie7;
	padding-bottom: 20px!ie7;
	max-height: 600px;
}

code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
		serif;
	background-color: #eeeeee;
}

p {
	margin-bottom: 1em;
	word-wrap:break-word;
}
/* Ellipsis */
.ellipsis {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*Clear*/
.clear {
	clear: both;
}

/*Validations*/
.error {
	color: #8e0000;
	margin: -13px 0 0 0;
	padding: 0;
}

.required {
	margin: 0 0 16px 0;
}

.popup.validation-error {
	background-color: #ad0000;
	font-weight: bold;
	color: #fff;
	border: 1px solid #8e0000;
	border-radius: 3px;
	cursor: pointer;
	padding: 1.3em;
}

/*Popup*/
.popup {
	display: none;
	position: absolute;
	padding: 0 1.3em;
	margin-top: 5px;
}

.close-popup {
	cursor: pointer;
}

.popup.share {
	background-color: #EAEAEA;
 	-webkit-box-shadow: 2px 2px 4px #999;
	box-shadow: 2px 2px 4px #999;
	width: 320px;
	padding: .4em .8em;	
}

.popup.share label {
	margin: 0;
}

a.share-button {
	width: 24px;
	height: 20px;
	float:left;
}

.share .close-popup {
	float:right;
}

.google-plus-icon {
	background-position: -150px -959px;
}

.facebook-icon {
	background-position: -150px -999px;
}
.twitter-icon {
	background-position: -150px -1039px;
}

/*Forms*/
form {
	margin: 0;
}

input,label,textarea {
	width: 100%;
}

input {
	height: 22px;
}

input[type="submit"] {
	margin: 5px 0;
}

.text-input {
	padding: 0.25em;
	border: 1px solid #999;
}

label {
	display: block;
	margin: 10px 0;
	color: #333;
}

.big,.big a {
	font-size: 1.2em;
	font-weight: bold;
}

.small,.small a {
	font-size: 0.9em;
}

textarea {
	resize: vertical;
}

.hinted-form {
	float: left;
	width: 65%;
}

/*ARROW*/
.arrow {
	width: 0;
	height: 0;
	line-height: 20px;
	display: block;
	text-indent: -9999px;
	border: 13px solid transparent;
}

.down-arrow {
	border-top-color: #818185;
}

.up-arrow {
	border-bottom-color: #818185;
}

/*Complete User*/
.complete-user .when {
	width: 100%;
	margin-bottom: 5px;
}

.complete-user .user-info {
	height: 32px;
	width:70%;
}

.complete-user .user-info * {
	height: 50%;
	display: block;
}

.complete-user .user-image {
	margin-right: 3%;
}

.complete-user .user-image,.complete-user .user-info {
	float: left;
}

/*LOGIN*/
.user-form {
	width: 35%;
}

.user-form .text-input {
	margin: 0 0 16px 0;
}

.user-form input[type="submit"] {
	height: 32px;
}

/*HEADER*/
.header{
	margin-bottom: 20px;
}

.first-header, .search-form {
	line-height: 31px;
}

.first-header {
	margin-bottom: 50px;
	background-color: #EEE;
	padding: .15em;
}

.user-area {
	float: right;
	overflow: hidden;
}

.search-form,.user-area .nav {
	float: left;
}

.search-form input{
	float:left;
	margin:0;
}


.search-form .text-input {
	border: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width:100%;
}

.search-form input[type="submit"] {
	display: none;
	width:30%;
}

.dropdown-search-form  .text-input{
	width:70%;
}

.search-dropdown{
	display:none;
}

/*Dropdown*/

.dropdown-target{
	display:none;
}



/*MENU*/
.nav,.nav-items {
	overflow: hidden;
}

.main-nav .nav-items {
	margin-top: 35px;
	width: 100%;
	float:right;
}

.nav-buttons {
	float: right;
}

.nav-item .current {
	background-color: #F90;
}

.nav-item,.nav-item a {
	height: 28px;
	line-height: 28px;
}

.nav-item {
	float: left;
	padding-right: .8em;
}

.ask {
	float: right;
}

/*Basic structure*/
.first-content,.sidebar {
	float: left;
}

.first-content{
	width: 80%;
}

.sidebar {
	width: 20%;
	padding: 0 1.5em;
}

/*BUTTON*/
.button {
	background: #777;
	padding: 0 .8em;
	display: block;
	color: #fff;
	font-size: 1.23em;
}

.button:hover {
	background-color: #ff9900;
}

/*HOME*/
.question-item, .question-information, .summary {
	overflow: hidden;
}

.question-information, .summary {
	float: left;
}

.question-item {
	border-bottom: 1px solid #EAEAEA;
	padding: .8em 0;
}

.summary {
	width: 75%;
}

.question-information {
	width: 25%;
}

.info {
	float: left;
	font-size: 1.6em;
	padding: .25em;
	text-align: center;
	width: 33%;
}

.answers {
	color: #9A4444;
}

.answers.answered {
	border-bottom: 5px solid #75845C;
}

.answers.solved {
	color: #008e43;
}

.votes {
	color: #555;
}

.views {
	color: #999;
}

.subtitle {
	display: block;
	font-size: .63em;
	overflow: visible;
}

.stats {
	float: right;
}

.stats .reputation {
	color: #444;
}

.last-updated-at {
	color: #999;
}

/*MODERACAO*/
.history-comparison > *{
	width:50%;
	float:left;
}

.history-title {
	display:inline;
	margin-right: 2%;
}

.history-original {
	margin-bottom: 30px;
	padding-right:2em;
}

.history-comparison .user-info{
	width:50%;
}

.history-comparison .touch{
	width:100%;
}

.original-answer {
	background-color: #FCF8E3; 
	color: #C09853;
	line-height: 17px;
	padding: 1em .8em;
}

.original-answer p {
	font-size: 1.1em;
	margin: 0;
}

.original-answer div {
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 10px;
}

/*TAG*/

.tags .tags-item{
	float: left;
}

.tags-item{
	padding: .2em .3em;
}

.tag {
	background-color: #e0eaf1;
	border-bottom: 1px solid #3e6d8e;
	border-right: 1px solid #7f9fb6;
	color: #3e6d8e;
	display: inline-block;
	font-size: .9em;
	padding: .25em .3em;
}

.tag:hover {
	background-color: #3e6d8e;
	border-bottom: 1px solid #37607d;
	border-right: 1px solid #37607d;
	color: #e0eaf1;
}

.tag-description {
	font-size: .9em;
}

.autocompleted-tags{
	border: 1px solid #000;
	z-index: 999;
	position: absolute;
	margin-top: 30px;
	background-color: #FFF;
	padding: .6em;
	width: 45%;
}

.autocompleted-tags .complete-tag{
	width: 33%;
	color: #000;
	cursor: pointer;
}

.complete-tag {
	border-bottom: 1px dotted #E0E0E0;
	padding: .8em;
	float:left;
	height:160px;
	width:20%;
}

.autocompleted-tags .complete-tag:hover {
	background-color: #ffe6bf;
}

.complete-tag .tag{
	margin-bottom:5%;
}

/*SHOW QUESTION*/
.solution .mark-as-solution {
	display: none;
}

.solution-mark {
	display: none;
	background-position: 0px -460px;
	width: 39px;
	height: 40px;
}

.solution .solution-mark {
	display: block
}

.post-area {
	border-bottom: 1px solid #aaa;
	overflow: hidden;
}

.question-area {
	border: none;
}

.post-area .tags {
	margin-top: 10px;
	overflow: hidden;
}

.post-interactions {
	overflow: hidden;
	margin-bottom: 5px;
}

.post-touchs {
	float: right;
	height: 60px;
	width: 50%;
}

.author-touch {
	background-color: #E0EAF1;
}

.touch {
	color: #999;
	float: right;
	height: 100%;
	line-height: 13px;
	overflow: hidden;
	padding: .4em;
	width: 50%;
}

.post-action-nav {
	margin-top: 10px;
	float: left
}

.post-action {
	color: #888;
	padding: .15em .25em;
}

.post-action:hover {
	background-color: #777777;
	color: #fff;
}

.post-action-nav .nav-item {
	border-left: 2px solid #ccc;
	padding: 0 .25em;
	margin: 0px;
}

.post-action-nav .nav-item:first-child {
	border: none;
}

.post-container {
	float: right;
	width: 90%;
	padding-top: .5em;
}

.post-text {
	font-size: 1.1em;
	line-height: 17px;
	color: #000;
}

.post-submit {
	border-radius: 4px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0
		rgba(255, 255, 255, 0.4) inset;
	background-color: #333;
	border: 1px solid #000;
	color: #FFF;
	margin: 10px 0;
	cursor: pointer;
	height: auto;
	width: auto;
	padding: .3em .5em;
}

.big-submit {
	font-weight: bold;
	font-size: 1.3em;
}

.login-or-signup .user-form {
	width: 100%;
}

.login-or-signup label:not(.error){
	margin-bottom: 2px;
}

.login-or-signup .login,.login-or-signup .signup {
	padding: 0 1.2em;
	float: left;
	width: 50%;
}

.login-or-signup .text-input {
	margin-bottom: 13px;
}

.login-or-signup .signup {
	border-left: 1px solid #999;
}

/*Comments*/
.comment-container {
	color: #444;
	border-top: dotted 1px #aaa;
}

.comment {
	padding: .4em 2em;
	border-bottom: dotted 1px #ddd;
	line-height: 20px;
}

.comment:hover {
	background-color: #FAFAFA;
}

.same-author {
	background-color: #E0EAF1;
	padding: .2em .35em;
}

.answer {
	padding-bottom: 1em;
}

/*Vote*/
.post-meta,.post-container {
	float: left
}

.post-meta {
	text-align: center;
	width: 10%;
}

.already-voted {
	display: none;
}

.vote .vote-option {
	cursor: pointer;
}

.voted {
	color: #FF0000;
}

.vote-container {
	width: 100%;
	height:80px;
}

.vote-count {
	display: block;
	font-size: 1.85em;
	color: #555;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.vote-option {
	cursor: pointer;
}

.up-arrow.voted {
	border-bottom-color: orange;
}

.down-arrow.voted {
	border-top-color: orange;
}

/*EDIT VIA AJAX*/
.edit-via-ajax {
	margin: 10px 0;
}

.edit-via-ajax span,.edit div {
	display: none;
}

.pending-questions a {
	font-size: 1.4em;
}

/*Footer*/
.footer {
	border-top: 8px solid #000000;
	background-color: #777777;
	height: 300px;
	margin-top: 50px;
	text-align: center;
	padding-top: 2em;
}

.footer p {
	color: #444;
	margin-top: 10px;
}

.footer p a {
	color: #999;
}

/*USER PROFILE*/

.image-and-information {
	width: 13%;
	float: left;
	color: #000;
	text-align: center;
	margin-right: 2%;
}

.image-and-information span {
	display: block;
}

.profile-image {
	width: 98%;
	height: auto;
	margin-bottom: 7%;
}

.karma {
	font-size: 2.2em;
	margin-bottom: 5%;
}

.data-list {
	float: left;
	width: 34%;
	margin-right: 5%;
	line-height: 1.5em;
}

.data-section-title {
	float: left;
	font-style: italic;
	width: 15%;
}

.data-list .data-section {
	float:left;
	color: #000;
	width: 85%;
}

.data-section .data-title, .data-section .data-description {
	float: left;
	display: block;
}

.data-line {
	overflow:hidden;
	margin-bottom: 3%;
	display: block;
}

.data-line *{
	font-size:13px;
	display: inline-block;
}

.data-section .data-title{
	width: 35%;	
	clear:left;
}

 .data-section .data-description{
	width: 65%;	
}

.advanced-data-section{
	width:50%;
	float:left;
}

.advanced-data-section:nth-child(even){
	padding-right:20px;
}

.advanced-data-section:nth-child(odd){
	padding-left:20px;
}

.data-line .form-label {
	width: 17%;
}

.data-line .wmd, .data-line input{
	float:none;
	width: 82%;
	margin: 0;
	vertical-align: middle;
}

.about-me {
	float: left;
	width: 45%;
	height: auto;
	min-height: 247px;
	padding: 0.7em;
	background-color: #f8f8f8
}

.profile-edit-form {
	float:left;
	width: 85%;
}
