*{box-sizing:border-box;}
body, a{
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
}
a{
	text-decoration:none;
	color: rgb(0, 119, 204);
}


.hint {display: none;}
.hidden {display : none;}
.edit-via-ajax span {display : none;}
.edit div {display : none;}
.vote .vote-option {cursor: pointer;}
.voted {color: #FF0000;}
.suggestion-accepted {color: #FF0000;}
.solution{color: #00FF00;}
.already-voted{display:none;}