@media only screen and (max-width: 1220px) {
	.first-content{
		width:100%;
	}
	
	.sidebar{
		display:none;
	}
	
	.container{
		max-width:90%;
	}
	
	.modal-flag {
		width: 32%;
	}
	
	.modal-flag textarea {
		width: 88%;
	}
}

@media only screen and (max-width: 840px) {
	.complete-tag{
		width:25%;
	}
	
	.modal-flag {
		width: 36%;
	}
	
	.modal-flag textarea {
		width: 83%;
	}
	
}
	
@media only screen and (max-width: 800px) {

	body, a{
		font-size:11.5px;
	}
	
	.button{
		padding: 0 .7em;
	}
	
	.info.views{
		display:none;
	}
	
	.question-information{
		margin-left:auto;
		margin-right:auto;
		width:20%;
	}
	
	.summary{
		width:80%;
	}
	
	.info.answers, .info.votes{
		width:100%;
	}
}

@media only screen and (max-width: 700px) {
	/*Basic Structure*/
	body, a{
		font-size:10px;
	}

	.container{
		max-width:94%;
	}
	.autocompleted-tags{
		width:94%;
	}
	
	.user-form, .question-form,
	.form-hints, .hint {
		width:100%;
	}
	
	.hint-anchor{
		display:inline;
	}
	
	.info{
		padding: .15em 0;
	}

	/*About*/
	.about-text .karma {
		width: 8%;
		font-size: 1.5em;
		font-weight: bold;
	}

	/*Tag list*/
	.complete-tag{
		font-size:1.2em;
	}
	
	/*Header*/
	.big-logo, .search-form{
		display: none;
	}
	
	.dropdown-search-form,
	.dropdown-search-form input[type="submit"],
	.search-dropdown{
		display:block;
	}
	
	.user-area .nav{
		width:100%;
	}

	/*Histories*/
	
	.history-comparison > *{
		width:100%;
		padding:0;
	}
	
	/*Show question*/
	
	.post-action-nav, .post-touchs{
		width:100%;
	}
	
	.post-touchs{
		margin-top:4%;
	}
	
	.arrow{
		border-width: 9px;
	}
	
	/*Login Or Signup (showQuestion)*/
	
	.login-or-signup{
		width:100%;
	}
	
	/*Share popup*/
	.popup.share{
		width:180px
	}
	
	/*Moderation tabs*/
	.tabs a {
		padding: 5px 11px 10px 11px;
	}
	.tabs a:hover {
		padding: 5px 10px 10px 10px;
	}
	.tabs a.selected {
		padding: 12px 9px 10px 9px;
	}
	
	/*User profile*/
	.data-list {
		float: right;
		width: 83%;
	}
	
	.data-line * {
		font-size: 1em;
	}
	
	.data-list .data-section {
		width: 76%;
	}
	
	.data-section .data-title {
		width: 45%;
	}
	
	.data-section .data-description {
		width: 55%;
	}
	
	.data-section-title {
		width: 23%;
	}
	
	.about-me {
		clear: both;
		height: auto;
		min-height: initial;
		width: 100%;
	}
	
	.image-and-information {
		overflow: visible;
		margin-bottom: 3%;
	}
	
	.modal-flag {
		width: 40%;
	}
	
	.modal-flag textarea {
		width: 82%;
	}
}

@media only screen and (max-width: 550px) {
	.complete-tag{
		width:33%;
	}
	
	.modal-flag {
		width: 53%;
	}
	
	.modal-flag textarea {
		width: 83%;
	}
}

@media only screen and (max-width: 400px) {
	.complete-tag{
		width:50%;
	}
	
	.modal-flag {
		width: 60%;
	}
}	