@media only screen and (max-width: 1220px) {
	.first-content{
		width:100%;
	}
	
	.sidebar{
		display:none;
	}
	
	.container{
		max-width:90%;
	}
}

@media only screen and (max-width: 840px) {
	.complete-tag{
		width:25%;
	}
	
}
	
@media only screen and (max-width: 800px) {
	.info.views{
		display:none;
	}
	
	.info{
		padding-top:0;
		padding-bottom:.65em;
	}
	
	.question-information{
		margin-left:auto;
		margin-right:auto;
		width:20%;
	}
	
	.summary{
		width:80%;
	}
	
	.info.answers, .info.votes{
		width:100%;
	}
}

@media only screen and (max-width: 700px) {
	/*Basic Structure*/
	body, a{
		font-size:10px;
	}

	.container{
		max-width:94%;
	}
	
	.autocompleted-tags, .user-form, .question-form,
	.form-hints, .hint {
		width:100%;
	}
	
	.hint-anchor{
		display:inline;
	}
	
	/*Tag list*/
	.complete-tag{
		font-size:1.2em;
	}
	
	/*Header*/
	.big-logo, .google-search{
		display: none;
	}
	
	.dropdown-search-form,
	.dropdown-search-form .gsc-search-button-v2,
	.dropdown-search-form .gsc-search-button,
	.search-dropdown{
		display:block;
	}
	
	.user-area .nav{
		width:100%;
	}

	.first-header{
		background-color:#03005b;
	}
	
	.first-header a{
		color:#fff;
	}

	.second-header{
		background-color:#dedede;
	}
	
	/*Menu*/
	.main-nav .nav-items, .first-header{
		margin:0;
	}
	
	.main-nav .nav-item, .nav-item.ask{
		float:left;
	}
	
	.main-nav .button{
		background-color:inherit;
		color: #555;
		font-size:1em;
	}
	
	.main-nav .nav-item, .main-nav .nav-item a{
		height:44px;
		line-height:44px;
	}
	
	/*Histories*/
	
	.history-comparison > *{
		width:100%;
		padding:0;
	}
	
	/*Show question*/
	
	.post-action-nav, .post-touchs{
		width:100%;
	}
	
	.arrow{
		border-width: 9px;
	}
	
	/*Login Or Signup (showQuestion)*/
	
	.login-or-signup{
		width:100%;
	}
	
	/*Share popup*/
	.popup.share{
		width:180px
	}
	
}

@media only screen and (max-width: 550px) {
	.complete-tag{
		width:33%;
	}
}

@media only screen and (max-width: 400px) {
	.complete-tag{
		width:50%;
	}
}	