* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #999;
	font-size: 13px;
	font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #f68321;
	font-size: 1em;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:not(:last-child) {
		padding-right: 1em;
	}
}

.sprite {
	display: block;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -999999em;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	overflow: hidden;
}

.title, .flagged-item-title-moderator {
	color: #000;
}

.title,.title a {
	font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
}

.logo {
	margin: .5% 0;
	display: inline-block;
	vertical-align: middle;
}

.big-logo {
	background-image: url('/imgs/logo.png');
	background-position: 0px 0px;
	background-size: contain;
	width: 250px;
	height: 81px;
}

.header {
	margin-bottom: 2.5em;
}

.page-title,.page-title a {
	font-size: 1.4em;
	line-height: 2.2em;
}

.section-title,.section-title a {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.main-thread-title {
	font-size: 1.65em;
	padding-bottom: .25em;
	line-height: 2.06em;
}

.item-title-wrapper {
	float: left;
	width: 75%;
}

.item-title,.item-title a {
	font-size: 1.15em;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hint-title,.hint-title a {
	color: #AE0000;
	font-weight: bold;
}

.form-hints {
	width: 35%;
	margin-left: 1%;
	margin-top: 32px;
	float: left;
}

.hint,.guideline {
	background-color: #FFEFC6;
	border-radius: 5px;
	padding: .6em;
	color: #735005;
}

.hint-tips .hint-tip,.question-warnings .hint-tip {
	margin-bottom: 1em
}

.link-tip {
	margin-left: 2em;
	
	.hint-tip:not(:last-child) {
		margin-bottom: 0.7em;
	}
}

.suggestion-accepted {
	color: #FF0000;
}

/* Ellipsis */
.ellipsis {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/*WATCH*/
.watch {
	.icon-eye {
		color: #84BC41;
	}
	
	.icon-muted {
		color: #ccc;
	}
}

.form-watch {
	display: inline;
	margin-left: 2em;
	
	input[type="checkbox"] {
		height: 1em;
		width: 1em;
		vertical-align: middle;
	}
}

/*LOGIN*/
.or {
	margin: 2em 0;
	display: inline-block;
}

/*Basic structure*/
.first-content, .sidebar {
	float: left;
}

.first-content {
	width: 71%;
}

.sidebar {
	width: 29%;
	padding-left: 3.5em;
	clear: right;
	
	.section-title {
		padding-top: 11%;
		margin-bottom: 0;
	}
}

.sidebar-list {
	margin-bottom: 0.5em;
	overflow: hidden;
}

.sidebar-item {
	padding: 1% 0;
	
	a {
		font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
	}
}

.sidebar-summary {
	width: 90%;
}

.sidebar-item-title {
	margin-bottom: 0;
	font-size: 1em;
	display: inline;
	line-height: 1.2em;
}

.more-items {
	margin-bottom: 1em;
	display: inline-block;
	width: 100%;
	text-align: right;
}

/*BUTTON*/
.button {
	padding: 0 1.5em;
	display: block;
	color: #37485e;
	font-size: 1.23em;
	
	&:hover {
		background-color: #faba84;
	}
}

/* BIG TEXT */
.big-text-title {
	font-size: 2.5em;
	text-align: center;
	margin: 5% 0;
}

.big-text {
	font-size: 1.2em;
	line-height: 2.5em;
	width: 100%;
	
	p {
		margin-bottom: 3%;
		line-height: 2em;
	}
	
	.karma {
		display: inline-block;
		width: 3em;
		text-align: center;
		margin-bottom: 0;
		color: #3A77A6;
	}
	
	.about-question {
		font-size: 1.2em;
		color: #3A77A6;
	}
}

/*EDIT VIA AJAX*/
.pending-questions .pending {
	border-bottom: 1px solid #eaeaea;
	overflow: hidden;
}

.pending {
	padding: 0.8em 0;
}

.notice {
	float: left;
	margin: 1em 0;
	font-size: 1.4em;
}

.pager {
	margin-top: 2%;
}

.page-item {
	display: inline-block;
	
	a {
		border: 1px solid #ADC2D0;
		color: #3E6D8E;
		padding: 0.5em;
		display: block;
		background-color: #F8F8F8;
	}
	
	&:hover a {
		background-color: #edf3f7;
	}
}


.current a {
	font-weight: bold;
	background-color: #E0EAF1;
}

/* INTRO */
#intro {
	display: none;
}

.intro {
	visibility: hidden;
}

.joyride-tip-guide {
	.joyride-next-tip {
		display: block;
		margin-top: 1em;
		width: 5em;
		padding-left: 9px;
		padding-right: 9px;
	}
	
	p {
		display: block;
		margin-right: 1em;
	}
	
	.joyride-close-tip {
		position: absolute;
		right: 4px;
		top: 4px;
		font-size: .7em;
	}
}

.joyride-content-wrapper {
	padding-right: 15px;
}

.rss-link {
	font-size: 1.7em;
	color: #F87217;
	text-align: right;
	float: right;
	padding-top: 12px;
}

.highlight {
	font-weight: bold;
	text-transform: capitalize;
}

.share .text-input {
	background-color: #fff;
}

/*SUSPECTS*/
.suspects li {
	.vote-author, .count, .answer-author {
		display: inline-block;
		width: 33%;
	}
}

.question-warnings {
	padding: 0.8em;
	background-color: #FFEFC6;
	border-radius: 5px;
	color: #735005;
	margin-bottom: 0.7em;
	border: 1px solid #BA160C;
	
	.hint-tip:before {
		content: "\25BA";
		padding-right: 0.4em;
	}
}

/*BreadCrumb*/
.breadcrumb {
	display: none;
}

.about-tag {
	text-align: justify;
	padding-left: 10px;
	padding-top:10px;
	padding-right: 15px;
	text-indent: 4%;
	width: 100%;
}

.banner-mark-as-solution {
	font-size: 1.4em;
	text-align: center;
	color: #141414;
	padding: .5em 0;
	background-color: #B7F869;
	width: 100%;
	margin: 1em auto .6em;
}

.interaction:after, .heavy-flagged:after {
	content: "";
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #70D88F;
	vertical-align: middle;
	position: absolute;
	box-shadow: 1px 1px 1px #96ECB0;
	margin-left: -1.2em;
}

.vote-time {
	width: 10em;
}

.counter.karma-value.centered-karma {
	text-align: center;
	width: 2em;
}

.stats {
	float: right;
}

.title.item-title {
	margin-bottom: 1.3em;
}

.detail-info {
	width: 20em;
}

.heavy-flagged:after {
	background-color: #F33;
	margin-top: 2em;
}

.comment-remaining-characters {
	padding: 0.5em 0;
}

#question-list-container {
    float: left;
    width: 70%;
}

#question-list-container .first-content.content {
    width: 100%;
}

#side-bar-container {
    float: right;
    width: 30%;
}

#side-bar-container .sidebar {
    width: 100%;
}