
.icon-minus:before { content: '\e812'; } /* '' */
.icon-up-dir:before { content: '\e809'; } /* '' */
.icon-down-dir:before { content: '\e80a'; } /* '' */
.icon-flag:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-eye-off:before { content: '\e803'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-rss:before { content: '\e806'; } /* '' */
.icon-gplus-squared:before { content: '\e80e'; } /* '' */
.icon-chat-empty:before { content: '\e810'; } /* '' */
.icon-angle-up:before { content: '\e807'; } /* '' */
.icon-angle-down:before { content: '\e808'; } /* '' */
.icon-flag-empty:before { content: '\e804'; } /* '' */
.icon-twitter-squared:before { content: '\e80d'; } /* '' */
.icon-facebook-squared:before { content: '\e80c'; } /* '' */
.icon-award:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e800'; } /* '' */